<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="mobi.dzs.android.BLE_SPP_PRO"
	android:versionCode="16"
	android:versionName="0.151" >

	<uses-sdk
		android:minSdkVersion="15"
		android:targetSdkVersion="17" />
	<uses-permission android:name="android.permission.BLUETOOTH"/>
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
	<uses-permission android:name="android.permission.WRITE_SETTINGS"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-feature android:name="android.hardware.bluetooth" android:required="true"/>

	<application android:name="mobi.dzs.android.BLE_SPP_PRO.globalPool"
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/AppTheme" >		
		
		<activity
			android:name="actMain"
			android:label="@string/actMain_name" android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="actDiscovery"
			android:label="@string/actDiscovery_name"
			android:screenOrientation="portrait"
			android:launchMode="standard" android:configChanges="keyboardHidden|navigation|orientation|screenSize"/>
		<activity android:name="actByteStream"
			android:label="@string/actByteStream_name"
			android:launchMode="singleTop"
			android:configChanges="keyboardHidden|navigation|orientation|screenSize"/>
		<activity android:name="actCmdLine"
			android:label="@string/actCmdLine_name"
			android:launchMode="singleTop"
			android:configChanges="keyboardHidden|navigation|orientation|screenSize"/>
		<activity android:name="actKeyBoard"
			android:label="@string/actKeyBoard_name"
			android:launchMode="singleTop"
			android:configChanges="keyboardHidden|navigation|orientation|screenSize" android:screenOrientation="portrait"/>
		<activity android:name="mobi.dzs.android.BLE_SPP_PRO.actAbout"
            android:label="@string/actAbout_name"
            android:launchMode="standard"/>
	</application>

</manifest>